ion-toolbar{
    --background: linear-gradient(
        90deg,
        rgba(250, 87, 142, 1) 0%,
        rgba(254, 171, 142, 1) 100%
      );
      color: white;
  }
  .img{
      height: 30px;
      width: 30px;
  }