<ion-header>
  <ion-toolbar>
    <ion-title>userdetails</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
<!-- 
  <div *ngFor="let value of values; let i = index"> 
    <input type="text" [(ngModel)]="value.value" #name="ngModel" name="value{{i}}">
    <button (click)="removevalue(i)">Remove</button>
  </div>
  <button (click)="addvalue()">ADD</button>
  
  <h2>Result</h2>
  <div *ngFor="let value of values;">
    {{ value.value }}
  </div> -->


  <div *ngFor="let value of values; let i = index"> 
    <h4></h4>
  </div>
  <button (click)="addvalue()">ADD</button>
  
  <h2>Result</h2>
  <div *ngFor="let value of values;">
    {{ value.value }}
  </div>
</ion-content>
