ion-toolbar{
    --background: linear-gradient(
        90deg,
        rgba(250, 87, 142, 1) 0%,
        rgba(254, 171, 142, 1) 100%
      );
      color: white;
  }


  
.btn-labeled {padding-top: 0;padding-bottom: 0;}
.button-area {
  margin: 10px auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  max-width: 320px;
  
  .btn-label {
    flex-grow: 1;

    position: relative;
  display: inline-block;
  padding: 6px 3px;
  border-radius: 3px 0 0 3px;
}
}

#space{
  margin-left: 10px;
}