<ion-header>
  <ion-toolbar>
    <ion-title>User Details</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
<!-- 
  <div *ngFor="let value of values; let i = index"> 
    <input type="text" [(ngModel)]="value.value" #name="ngModel" name="value{{i}}">
    <button (click)="removevalue(i)">Remove</button>
  </div>
  <button (click)="addvalue()">ADD</button>
  
  <h2>Result</h2>
  <div *ngFor="let value of values;">
    {{ value.value }}
  </div> -->




  <ion-content class="ion-padding">

    <!-- main app container -->
    <div class="jumbotron">
      <div class="container">
          <div class="row">
              <div class="col-md-6 offset-md-3">
                  <!-- <h3 style="font-family: Gilroy;">User Details </h3> -->
                  <form [formGroup]="detForm" (ngSubmit)="onSubmit()">
                    <div class="form-group" *ngFor="let details of Details">
                    
        <div class="flex-container">
               <div class="flex-item-left">{{details.name}}</div>
                     <div class="flex-item">:</div>
                   <div class="flex-item-right">{{details.value}}</div>
                   </div>
               </div>
                      <div class="form-group">
                          <label>Notes</label>
                          <input type="text" rows="2" formControlName="note" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.note.errors }" />
                          <div *ngIf="submitted && f.note.errors" class="invalid-feedback">
                              <div *ngIf="f.note.errors.required">Description is required</div>
                          </div>
                      </div>
                        <div class="container">
                          <div class="row">
                              
                              <div class="button-area">
                                  <button type="submit" class="btn btn-labeled btn-success">
                                      <span class="btn-label"><i class="fa fa-check"></i></span>Approve</button>
                                      
                                  <button id = "space" type="submit" class="btn btn-labeled btn-danger">
                                      <span class="btn-label"><i class="fa fa-close"></i></span>Cancel</button>
                               
                          </div>
                      </div>
                      </div>
                      
                  </form>
              </div>
          </div>
      </div>
    </div>
    
    </ion-content>