
  <ion-header>  
    <ion-toolbar>  
      <ion-title style="margin-left: 10px;">  
  Finbulance    </ion-title>  
    </ion-toolbar>  
  </ion-header>  

  <ion-content>
<article class="leaderboard">


  
<div> 
  <main class="leaderboard__profiles" *ngFor="let data of Data">
    <article class="leaderboard__profile" (click)="getData(data.id)"  routerLink="/userdetails" >
      <img src="assets/icon/service.png" alt="pic" class="leaderboard__picture">
      <span class="leaderboard__name">{{data.user_id.name}}</span>
      <span class="leaderboard__value">{{data.created_at}}</span>
    </article>  
</main>
</div>


</article>
</ion-content>