<ion-header>  
  <ion-toolbar>  
    <ion-title style="margin-left: 10px;">  
Construction    </ion-title>  
  </ion-toolbar>  
</ion-header>  

<ion-content class="ion-padding">
<div class="jumbotron">
  <div class="container">
      <div class="row">
          <div class="col-md-6 offset-md-3">
              <h3>Construction Form</h3>
              <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
                  <div class="form-group">
                      <label>Square Feet</label>
                      <input type="text" formControlName="sqft" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.sqft.errors }" />
                      <div *ngIf="submitted && f.sqft.errors" class="invalid-feedback">
                          <div *ngIf="f.sqft.errors.required">Square Feet is required</div>
                      </div>
                  </div>
                  <div class="form-group">
                      <label>Budget</label>
                      <input type="text" formControlName="budget" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.budget.errors }" />
                      <div *ngIf="submitted && f.budget.errors" class="invalid-feedback">
                          <div *ngIf="f.budget.errors.required">Budget is required</div>
                      </div>
                  </div>
                  <div class="form-group">
                      <label>Time Period (Months)</label>
                      <input type="text" formControlName="months" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.months.errors }" />
                      <div *ngIf="submitted && f.months.errors" class="invalid-feedback">
                          <div *ngIf="f.months.errors.required">Time Period is required</div>
                      </div>
                  </div>
               
                  <div class="form-group">
                    <button type="submit" class="button" >Submit</button>
                  </div>
              </form>
          </div>
      </div>
  </div>
</div>
</ion-content>