img.container{
    display: block;
    margin-left: 35%;
    width: 55px;

}
.user{
    font-size: small;
    font-weight: 650;
    text-align: center;  
}
.mail{
    font-size: small;
    text-align: center;  
}
