<ion-list > 
  <ion-list-header>
    <img class="container" src="assets/avatar2.png"/> 
  </ion-list-header>
  <p class="user">{{name}}</p>
  <p class="mail">{{email}}</p>
  <ion-item button>
  <ion-icon name="settings-outline"></ion-icon>
  &nbsp;&nbsp;
  <ion-label>Settings</ion-label>  
</ion-item>
  <ion-item button>
  <ion-icon name="exit-outline"></ion-icon>
  &nbsp;&nbsp;
  <ion-label>Logout</ion-label> 
</ion-item>
  <ion-item button>
    <ion-icon name="alert-circle-outline"></ion-icon>
    &nbsp;&nbsp;
  <ion-label>About</ion-label>
  </ion-item>
</ion-list>

