<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button ></ion-menu-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button (click)="notifications($event)">
        <img style="width: 30px;"  src="assets/avatar.png"/>
      </ion-button>
    </ion-buttons>
    <ion-title>{{selectedmenuName}}</ion-title>
  </ion-toolbar>
</ion-header>


<ion-menu contentId="content">
      <ion-header>
        <ion-toolbar>
          <ion-buttons slot="start">
          </ion-buttons>
          <ion-title>Menu</ion-title>
        </ion-toolbar>
      </ion-header>
      
      <ion-content >
          <div *ngFor="let p of Pages">
            <ion-menu-toggle *ngIf="p.url">
              <ion-item (click)="selectedmenu(p)" routerDirection="root" [routerLink]="[p.url]" routerLinkActivate="active">
                <ion-icon [name]="p.icon" slot="start"></ion-icon>
                <ion-label>{{p.title}}</ion-label>
              </ion-item>

            </ion-menu-toggle>

            <ion-item button *ngIf="p.children?.length > 0" (click)="p.open=!p.open" [class.active-parent]="p.open"
              detail="false">
              <ion-icon slot="start" name="arrow-up" *ngIf="!p.open"></ion-icon>
              <ion-icon slot="start" name="arrow-down" *ngIf="p.open"></ion-icon>
              <ion-label>{{ p.title }}</ion-label>
            </ion-item>
            <ion-list *ngIf="p.open">
              <ion-menu-toggle >
                <ion-item (click)="selectedmenu(sub)" class="sub-item" *ngFor="let sub of p.children" routerDirection="root" [routerLink]="[sub.url]" routerLinkActivate="active">
                  <ion-icon [name]="sub.icon" slot="start"></ion-icon>
                  <ion-label>{{sub.title}}</ion-label>
                </ion-item>

              </ion-menu-toggle>
            </ion-list>
          </div>

       

      </ion-content>

    </ion-menu>

    <ion-router-outlet id="content" main></ion-router-outlet>
