
*{
  font-family: "Gilroy";
}

.my-custom-menu {
  --width: 500px;
}
ion-toolbar{
  --background: linear-gradient(
      90deg,
      rgba(250, 87, 142, 1) 0%,
      rgba(254, 171, 142, 1) 100%
    );
    color: white;
}
.active-parent{
  font-weight: 500;
}
.sub-item{
  padding-left: 20px;
  font-size: small;
}
