* {
    margin: 0;
    padding: 0;
  }
  
  h1 {
    font-family: Gilroy;

    margin-top: 10%;
    margin-bottom: 10px;
    font-size: 32px;
    font-weight: 700;
  }
  ion-toolbar{
    --box-shadow: none;
    --background: linear-gradient(
      90deg,
      rgba(250, 87, 142, 1) 0%,
      rgba(254, 171, 142, 1) 100%
    );
    color: #fff;

    
  }
  
  h3 {
    font-family: Gilroy;

    color: #939fab;
    font-weight: 600;
  }
  
  form {
    margin-top: 3rem;

    app-button {
      display: block;
      margin-top: 3rem;
    }
  }
  
  .footer-text {
    text-align: center;
    font-size: 17px;
    padding: 10px;
    a {
      text-decoration: none;
      font-weight: 600;
      color: #fa578e;
    }
  }
  .button{
    box-shadow: none;
    border-radius: 10px;
    background: linear-gradient(
      90deg,
      rgba(250, 87, 142, 1) 0%,
      rgba(254, 171, 142, 1) 100%
    );
    margin-top: 5px;
    width: 100%;
    height: 48px;
    font-size: 1rem;
    color: #fff;
    margin-bottom: 0.5rem;
    text-transform: initial;
  }
  
  .error{
    font-size: small;
    color: red;
  }

